div {
    width: 100%;
}
div .done {
    background-color: rgb(227, 224, 229);
}
#checkbox {
    width: 3ch;
    height: 3ch;
}
#todo {
    border-color: rgb(77, 77, 77);
}
#delete {
    color: white;
    background-color: red;
    border: 0;
    height: 60%;
    float: right;
}
